---
title: Ryo Chiba
description: A collection of wonderful things.
layout: default
---


<style>
	.navbar-blog{
		color: #555;
		text-decoration: none;
		background-color: #e5e5e5;
		-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
		-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
		box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	}
</style>

<div class="row">
	<div class="span8 offset2">
		<div style="padding:15px">
		{% for page in paginator.posts %}
			{% include post-template.html %}
		{% endfor %}
		</div>
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page == 1 %}
			<a href="/">Previous</a>
			{% elsif paginator.previous_page %}
			<a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
			{% else %}
			<span class="previous">Previous</span>
			{% endif %}
			<span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
			{% if paginator.next_page %}
			<a href="/page{{paginator.next_page}}" class="next ">Next</a>
			{% else %}
			<span class="next ">Next</span>
			{% endif %}
			or, <a href="/archive.html">Explore Archive</a>
		</div>
	</div>
</div>

