---
title: Ryo Chiba - Personal Blog
description: What's on my mind outside of work.
layout: default
pagination: 
  enabled: true
  tag: personal
---


<style>
  .navbar-blog{
    font-weight: bold;
  }
</style>

<div class="row blog-index" style="margin-top:30px;">
  <div class="col-12 blog-title">
    <h1>personal blog</h1>
    <p>
      Where write about stuff outside of work.
    </p>
  </div>
  <div class="col-12">
    <ul>
      {% for post in site.posts %}
          {% if post.tags contains "personal" %}
             <li><a href="{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date: "%B %Y" }}</span></li>
          {% endif %}
      {% endfor %}
      <li><a href="/archive">Explore Archive</a></li>
    </ul>
  </div>
</div>

