---
title: Ryo Chiba - Professional Blog
description: Code, marketing, business.
layout: default
pagination: 
  enabled: true
  tag: professional
---


<style>
  .navbar-professional{
    font-weight: bold;
  }
</style>

<div class="row blog-index" style="margin-top:30px;">
  <div class="col-12 blog-title">
    <h1>professional blog</h1>
    <p>
      Where I share lessons learned from building, marketing, and selling marketing technology products.
    </p>
  </div>
  <div class="col-12">
    <ul>
      {% for post in site.posts %}
          {% if post.tags contains "professional" %}
             <li><a href="{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date: "%B %Y" }}</span></li>
          {% endif %}
      {% endfor %}
      <li><a href="/archive">Explore Archive</a></li>
    </ul>
  </div>
</div>

