body{
  color: #000;
  font-weight:300;
  font-family: 'Roboto', Serif;
  background-color: #F9FAFB;
}
h2, h3, h4, h5, h6{
	font-family: 'Roboto', Sans-Serif;
}
h1{
	color: #000;
	font-family: 'Roboto', Sans-Serif;
	font-weight: 400;
	letter-spacing: -1px;
	text-align:left;
}
h2, h3{
	line-height: 1;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: left !important;
}
p, #archive li{
	margin: 0 0 10px;
  font-size: 1em;
  line-height: 1.7em;
  margin-top: 15px;
  font-weight: 300;
}
ul{
	list-style-type: square;
}
video{
	width: 100%;
}
#archive li{
	margin:0;
	list-style-type: none;
	text-align: left;
}
#archive ul{
	margin:0;
	padding-left: 0;
}
article{
	border-bottom:1px solid #eee;
}
.post-title{
	font-size: 77px;
  line-height: 1;
  margin-top: 68px;
  letter-spacing: -4px;
}
.post-date{
	text-align:left;
	color: #999;
	font-size: 1em;
	font-style: italic;
	font-weight: 300;
	margin-top:0;
	margin-bottom:  40px;
}
.post-hr{
	    opacity: 1;
    height: 7px !important;
    color: black;
    margin-bottom: 49px;
}
.post h2{
	font-size:  22px;
}

.container-thin{
	max-width: 690px;
}

@media (max-width: 679px) {
	.navbar{
		padding-top: 0 !important;
	}
	.nav{
		display:  block !important;
	}
	.navbar li{
		display: block !important;
	}

}

.navbar{
	font-size: 18px;
    padding-top: 30px;
}

.navbar a{
	color: inherit;
	text-decoration: none;
	align-self: flex-end;
	line-height: .5;
}

.navbar-title{
	font-weight: bold;
    font-size: 28px;
}

.navbar li{
	margin-right: 39px;
	display: flex;
}


.blog-title h1{
  font-size: 30px;
  margin-top: 10px;
}
.blog-title p{
  font-size: 15px;
  margin-bottom: 30px;
}
.blog-index ul{
  list-style-type: none;
  padding-left: 0;
}
.blog-index li{
  margin-bottom: 15px;
}
.blog-index li a{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.blog-index li span{
  color: #b7b7b7;
  padding-left: 8px;
  font-size: 15px;
}

.blog-index a:hover{
	color:  #0d6efd;
}

.top-item{
	height:200px;
	background-color:#FFF;
	background-color:rgba(255,255,255,0.8);
}
.span9{
	background-color:rgba(255,255,255,0.7);
}
.footer{
	height: 90px;
	border-top: 1px solid #eee;
	padding-top: 20px;
	text-align:center;
	color:#eee;
	margin-top: 40px;
	font-size: 14px;
}
.footer-social-button{
	padding: 4px 11px;
	margin-left: 4px;
	margin-right: 4px;
	color: #333;
}
.footer a{
	text-decoration: none;
}
article img, article object{
	border: 1px solid #eee;
	padding: 0;
	display: block;
	margin: auto;
	max-width: 100%;
}
.pagination{
	text-align: center;
}
.container{
	margin-top:40px;
}

article ul, article ol{
	line-height: 1.65em;
	margin: 0 auto;
	padding-left: 19px;
}

article ul ul{
    font-size: 18px;
    margin-left: 15px;
    list-style-type: circle;
}

article li{
	margin: 0;
  line-height: 1.5;
  padding-bottom: 10px;
}
.blog-header{
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}
.blog-header h2{
  font-size: 20px;
  margin-top: 0;
  color: #8c8c8c;
}
.sidebar{
  margin-top:12px;
}
.sidebar h3{
  margin-top:0;
}
.sidebar li{
  font-size: 18px;
  margin-top: 12px;
}

table{
  margin-bottom: 2.5rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

