body{
  color: #333333;
  font-weight:300;
  font-family: 'Noto Serif', Serif;
}
h2, h3, h4, h5, h6{
	font-family: 'Varela Round', Sans-Serif;
}
h1{
	color: #444444;
	font-family: 'Varela Round', Sans-Serif;
	font-weight: 400;
	letter-spacing: -1px;
	text-align:left;
}
h2, h3{
	line-height: 1;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: left !important;
}
p, #archive li{
	margin: 0 0 10px;
	font-size: 1.35em;
	line-height: 1.6em;
	margin-top:30px;
	font-weight:300;
}
ul{
	list-style-type: square;
}
video{
	width: 100%;
}
#archive li{
	margin:0;
	list-style-type: none;
	text-align: left;
}
#archive ul{
	margin:0;
}
article{
	border-bottom:1px solid #eee;
}
.post-title{
	font-size: 33px;
	line-height: 1;
	margin-top:40px;
}
.post-title a:hover{
	text-decoration: none;
}
.post-date{
	text-align:left;
	color: #999;
	font-size: 1em;
	font-style: italic;
	font-weight: 300;
	margin-top:0;
}
.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	text-align: center;
  z-index:2;
}

.navbar .container{
	text-align:center;
}
.navbar .nav{
	display: inline-block;
	float: none;
	font-family: 'Varela Round', Sans-Serif;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	box-shadow: none;
	border-bottom: 1px solid #eee;
	background-image: none;
	background-color: #FFF;
}
.navbar .nav > li {
	width:110px;
}
.navbar .nav > li.navbar-title{
	width: auto;
	font-size: 24px;
	line-height: 1;
	padding: 0;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

	.navbar .nav > li {
		width:80px;
	}
	.navbar .nav > li.navbar-title{
		padding: 8px 2px;
	}


}

.top-item{
	height:200px;
	background-color:#FFF;
	background-color:rgba(255,255,255,0.8);
}
.span9{
	background-color:rgba(255,255,255,0.7);
}
.footer{
	height: 90px;
	border-top: 1px solid #eee;
	padding-top: 20px;
	text-align:center;
	color:#eee;
}
.footer-social-button{
	padding: 4px 11px;
	margin-left: 4px;
	margin-right: 4px;
	color: #333;
}
article img, article object{
	border: 1px solid #eee;
	padding: 0;
	display: block;
	margin: auto;
	max-width: 100%;
}
.pagination{
	text-align: center;
}
.container{
	margin-top:40px;
}

article ul, article ol{
	font-size: 1.35em;
	line-height: 1.65em;
	margin: 0 auto;
}

article ul ul{
    font-size: 18px;
    margin-left: 15px;
    list-style-type: circle;
}

article li{
	margin: 1em auto;
  line-height:32px;
}
.blog-header{
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}
.blog-header h2{
  font-size: 20px;
  margin-top: 0;
  color: #8c8c8c;
}
.sidebar{
  margin-top:12px;
}
.sidebar h3{
  margin-top:0;
}
.sidebar li{
  font-size: 18px;
  margin-top: 12px;
}

table{
  margin-bottom: 2.5rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}
